/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    /*background: #2e3440;*/
    /*background: rgba(46, 52, 64, 0.8);*/
    background: transparent;
    color: #d8dee9;
    font-family: FiraCode, Noto Sans, sans-serif, AnonymicePowerline Nerd Font;
    font-size: 13px;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa {
    padding-left: 10px;
    padding-right: 10px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-alsa {
    background: #d8dee9;
    color: #3b4252;
}

#custom-keyboard-layout {
    background: #5e81ac;
    color: #d8dee9;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #88c0d0;
    color: #434c5e;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock.date {
    background: #2e3440;
    color: #e5e9f0;
}

#clock.time {
    background: #eceff4;
    color: #2e3440;
}

#cpu {
    background: #434c5e;
    color: #e5e9f0;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #88c0d0;
    color: #3b4252;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    color: #2e3440;
    background: #ebcb8b;
    /*border-top: 2px solid white;*/
    /* To compensate for the top border and still have vertical centering */
    /*padding-bottom: 2px;*/
}

#network {
    background: #4c566a;
    color: #e5e9f0;
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    background: #d8dee9;
    color: #2e3440;
}

#temperature.critical {
    color: red;
}

#tray {
    background: #2e3440;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
}

#workspaces button {
    font-weight: bold;
    /*border-bottom: 3px solid transparent;*/
    /* To compensate for the bottom border and still have vertical centering */
    /*padding-top: 3px;*/
    padding-left: 5px;
    padding-right: 5px;
    color: #2e3440;
    background: #5e81ac;
}

#workspaces button.focused {
    /*border-color: #4c7899;*/
    /*color: #5e81ac;*/
    /*border-bottom: 3px solid #d8dee9;*/
    /*background: transparent;*/
    background: #81a1c1;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#custom-arrow1 {
    font-size: 17px;
    color: #d8dee9;
    background: transparent
}
#custom-arrow2 {
    font-size: 17px;
    color: #4c566a;
    background: #d8dee9
}
#custom-arrow3 {
    font-size: 17px;
    color: #88c0d0;
    background: #4c566a
}
#custom-arrow4 {
    font-size: 17px;
    color: #434c5e;
    background: #88c0d0
}
#custom-arrow5 {
    font-size: 17px;
    color: #d8dee9;
    background: #434c5e
}
#custom-arrow6 {
    font-size: 17px;
    color: #5e81ac;
    background: #d8dee9
}
#custom-arrow7 {
    font-size: 17px;
    color: #88c0d0;
    background: #5e81ac
}
#custom-arrow8 {
    font-size: 17px;
    color: #2e3440;
    background: #88c0d0
}
#custom-arrow9 {
    font-size: 17px;
    color: #eceff4;
    background: #2e3440;
}
#custom-arrow10 {
    font-size: 17px;
    color: #5e81ac;
    background: transparent;
}
